body {
  padding: 50px;
  font: 18px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
input[type="text"] {
  margin-right: 1rem;
  padding: 0.5rem 0.5rem;
  font-size: 1.1rem;
}
input[type="submit"]{
  background: transparent;
  background-color: #020e13;
  color: #ffff;
  font-size: 1.1rem ;
  border: none;
  text-transform: capitalize;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  cursor: pointer;
}